body{
    box-sizing: border-box;
    background-color: goldenrod;
    justify-self: center;
}
main{
    box-sizing: border-box;
    background-color: white;
    width: 20rem;
    height: 33rem;
    margin: 25rem;
    margin-top: 5rem;
    padding: 2rem;
}
.section1
.img{
    height: 10rem;
    width: 10rem;
    margin: 40px;
    margin-top: -1rem;
    border-radius: 5rem;
}
.myName{
    justify-content: center;
    margin-top: -2rem;
    font-weight: 300rem;
    color: goldenrod;
}
.location{
    margin: -16px 16px 0px 48px;
    color: goldenrod;
}
.Portfolio{
    margin: -16x 16px 0px 48px;
    font-weight: bold;
    font-size: 14px;
}
.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: white;
    background-color: goldenrod;
    border-radius: 8px;
    text-align: center;
    width: 11rem;
    padding: .9em 3em;
    margin: .4em; 
}
 .btn:hover{
    background: black;
    color: burlywood;
    cursor: pointer;
}

